{% extends 'main/home.html' %}

{% block namepage %} <br><h2 class="mt-2">Select the camera.</h2>{% endblock %}

{% block content %}
<div class="col-8">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <label style="font-size:22">Webcam_type:</label>
            <select value="" name="webcam_type">
                <option value="1">Integrated</option>
                <option value="2">Wireless</option>
                <option value="3">USB</option>
            </select>
            <br>
            <label style="font-size:22">Device_type:</label>
            <select value="" name="device_type">
                <option value="1">Laptop</option>
                <option value="2">Desktop</option>
            </select>
            <br>
            <input type="submit" value="Submit">
    </form>
    <br>
    {% if camera_supported %}
    <p>Camera not supported</p>
    {% endif %}
    {% if camera_flag %}
    <img src="{% url 'camera_result' %}" alt=" error camera !! ">
    {% endif %}
    {% endblock %}
</div>
