<html>
<head>
    <title>A M A N</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="../../static/images/cctv.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/homeStyle.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/homeNOcamera.scss">


</head>


<body>
<!-- Side navigation -->


<nav class="main-menu">
    <ul>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>

    </ul>
    <ul>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>

    </ul>
    <ul>


    </ul>
    <ul>

        <li class="has-subnav">
            <a href="/home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                            Dashboard
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            Change Current Camera
                        </span>
            </a>

        </li>
        {% if type_user %}
        <li class="has-subnav">
            <a href="/addnewcamera">
                <i class="fa fa-plus-square-o fa-2x"></i>
                <span class="nav-text">
                            Add a New Camera
                        </span>
            </a>

        </li>
              <li class="has-subnav">
            <a href="/adduseraccount">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                            Add a Policeman Account
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                            Recordings of Violence
                        </span>
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                            Graphs and Statistics
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                            Map of All Cameras
                        </span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#">
                <i class="fa fa-cogs fa-2x "></i>
                <span class="nav-text">
                            Settings
                        </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="/logout">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Logout
                        </span>
            </a>
        </li>
    </ul>
</nav>
<!-- Page content -->
<div class="main">
    <div class="row justify-content-center">
        <br>
        <div class="col-8">
            {% block namepage %} <br><h3 style="font-family: Inter,sans-serif" class="mt-2">You're In!</h3> {% endblock %}
            <hr class="mt-0 mb-4">
            {% block content %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

            </form>
            {% if flag %}
                {% if not url_is_exit%}
                  <div class="container">
	                    <div class="text-box">
		                    <h1>YOUR CAMERA CONNECTION IS BAD!</h1>
            		        <h1>YOUR CAMERA CONNECTION IS BAD!</h1>
                        </div>
		                <p>A M A N @2020<span>:)</span></p>
{#                           <a class="btn btn-danger" href="{% url 'home' %}">Refresh the Page</a>#}
                  </div>
                {% endif %}
            {% else %}
                  {% if not url_is_exit %}
                         <div class="container">
	                    <div class="text-box">
		                    <h1>YOU DON'T HAVE ANY CAMERA YET!</h1>
            		        <h1>YOU DON'T HAVE ANY CAMERA YET!</h1>
                        </div>
                           <p>A M A N @2020<span>:)</span></p>
                  </div>
                  {% endif %}
            {% endif %}
            <br>
            {% if url_is_exit %}
            <img src="{% url 'ip_result' %}" alt=" error  !! ">
            {% endif %}
            {% endblock %}
        </div>
    </div>

</div>


</body>

</html>