<html>
<head>
    <title>A M A N</title>
    <link rel="shortcut icon" href="../../static/images/cctv.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/homeStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>


<body>
<!-- Side navigation -->


<nav class="main-menu">
    <ul>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>

    </ul>
    <ul>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>
        <a>
            <i class="fa fa-2x"></i>
            <span>

                        </span>
        </a>

    </ul>
    <ul>


    </ul>
    <ul>

        <li class="has-subnav">
            <a href="/home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                            Dashboard
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            Change Current Camera
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="/addnewcamera">
                <i class="fa fa-plus-square-o fa-2x"></i>
                <span class="nav-text">
                            Add New Camera
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                            Recordings of Violence
                        </span>
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                            Graphs and Statistics
                        </span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                            Map of All Cameras
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cogs fa-2x "></i>
                <span class="nav-text">
                            Settings
                        </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="/logout">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Logout
                        </span>
            </a>
        </li>
    </ul>
</nav>
<!-- Page content -->
<div class="main">
    <div class="row justify-content-center">
        <br>
        <div class="col-8">
            {% block namepage %} <br><h3 class="mt-2">Upload your video to detect acts of violence.</h3> {% endblock %}
            <hr class="mt-0 mb-4">
            {% block content %}
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile">
                <br>
                <br>
                <button type="submit">Upload</button>
            </form>
            {% if flag %}
            <p> can not upload {{ file_type }} file</p>
            {% endif %}
            <br>
            {% if uploaded_file_url %}
            <img src="{% url 'video_result' %}" alt=" error  !! ">
            {% endif %}
            {% endblock %}
        </div>
    </div>

</div>


</body>

</html>